body {
    background: rgb(241, 101, 125);
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-size: 500%;

}

h3 {
    text-align: center;
    font-style: oblique;
    font-size: 350%;
    text-decoration: underline;
}

.card {
    background: palegreen;
}

.jumbotron {
    background: palegreen;
    font-style: oblique;
}



